
<!DOCTYPE html>
<html lang="en">
  <head>   

    <title>Aling Nena's Online Superstore</title>

    <!-- Bootstrap core CSS 
    <link href="/css/bootstrap.css" rel="stylesheet">

    <link href="/css/admin.css" rel="stylesheet">-->

    <link href="alingnena.css" rel="stylesheet">
    <link rel="shortcut icon" href="logo.png">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="sidebar" role="navigation">      
          <div id="logo"><a href="/">an</a></div>
          <div id="tagline">Aling Nena's Online Superstore</div><br>
          <div class="outchoices"><a href="/about"><div class="inchoices">About</div></a></div>
          <div class="outchoices"><a href="/products"><div class="inchoices">Products</div></a></div>        
    </div>      
    <div>
        <h1>All About Aling Nena's</h1>
        <br>
        Look at your store. Now back to us.
        <br>
        <br>
        Now back to your store.
        <br>
        <br>        
        Now back to us.   
        <br>
        <br>
        Sadly, it isn't us. But it could be like us. Look down. Back up. Where are you? You're at a website. The website of the store your store could be like. What's in your hand? Back here. We have it. It's an oyster, with two tickets to that thing you like. Look down again. Now back up. The tickets are now diamonds! Anything is possible with Aling Nena's Online Superstore. We're online.  
  </body>
</html>
