
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Aling Nena's Online Superstore</title>

    <!-- Bootstrap core CSS 
    <link href="/css/bootstrap.css" rel="stylesheet">

    <link href="/css/admin.css" rel="stylesheet">-->
    <link href="/css/alingnena.css" rel="stylesheet">
    <link rel="shortcut icon" href="logo.png">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div id="sidebar" role="navigation">      
          <div id="logo"><a href="/">an</a></div>
          <div id="tagline">Aling Nena's Online Superstore</div><br>
          <div class="outchoices"><a href="/about"><div class="inchoices">About</div></a></div>
          <div class="outchoices"><a href="/products"><div class="inchoices">Products</div></a></div>        
    </div>

   
        <h1>Oh snap!</h1>        
        It looks like you overlooked something. It's either you didn't input enough cash, or you tried buying more than what we had. <br>
        Whatever the case, the transaction did not push through. Please pick from one of the two buttons below.<br>
        <a href="/purchase/<%=@product.id%>" class="btn btn-primary">Return to Purchase Screen</a> <br>
        <a href="/products" class="btn btn-default">Back to Product List</a>
  </body>
</html>
